@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">William Todds hamburger Informational Site</h1>
    <p>This is an informational site dedicated to inform people on the intricacies of hamburgers.</p>
</div>
