@{
    ViewData["Title"] = "Technique";
}

<div class="text-center">
    <h1 class="display-4">Images of Hamburger making technique</h1>
    <p>Images of different hamburger making techniques.</p>
</div>